<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Heppafoorumi - Aiheet</title>
        <link rel="stylesheet" href="aiheTyyli.css">
        <link rel="shortcut icon" href="../favicon.png" type="image/png">
    </head>
    <body>
        
        <header>
            <h1>Aiheet</h1>
        </header>

        <section>
            <p>Voit lisätä uusia aiheita tälle alueelle tai valita jo valmiiksi olevan</p>
            <hr>
            <h2>Aiheet:</h2>
        </section>

        <footer>
            <h3>Copyright @ Heppahullut</br>
            Tietokantojen perusteet 2016</h3>
        </footer>
    </body>
</html>