<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Heppafoorumi - Alueet</title>
        <link rel="stylesheet" href="alueetTyyli.css">
        <link rel="shortcut icon" href="../images/favicon.png" type="image/png">
    </head>
    <body>
        
        <header>
            <h1>Tervetuloa Heppafoorumille!</h1>
        </header>

        <nav>
            
        </nav>

        <section>
            <img style="float: right; margin: 15px 15px 15px 15px;" src="../hevonen.jpg" width="250px" alt="Uljas hevonen" />
            <h2>Kohtaamispaikka todellisille heppahulluille</h2>
            <hr>
            <h2>Valitse mieleisesi alue:</h2>
            <ul>
                <li>Ponit</li>
                <li>Hevoslajit</li>
                <li>Offtopic</li>
            </ul>
        </section>

        <footer>
            <h3>Copyright @ Heppahullut</br>
            Tietokantojen perusteet 2016</h3>
        </footer>

    </body>
</html>
