<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Heppafoorumi - Viestit</title>
        <link rel="stylesheet" href="css/viestiTyyli.css" />
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    </head>
    <body>
        
        <header>
            <h1>Viestit</h1>
        </header>

        <section>
            <ul>
                <li th:each="viesti : ${viestit}">
                    <span th:text="${viesti}"></span>
                </li>
            </ul>
        </section>

        <footer>
            <h3>Copyright @ Heppahullut<br/>
            Tietokantojen perusteet 2016</h3>
        </footer>
    </body>
</html>
